.schedule-selector {
	display: flex;
	flex-direction: row;
}

.schedule-selector .date {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	width: 90px;
}

.schedule-selector .day {
	font-size: 30px;
	font-weight: bold;
}

.schedule-selector .month {
	opacity: 0.5;
}

.schedule-selector .selected {
	color: white;
	opacity: .75;
	transition: .25s;
}

.schedule-selector .selected:hover {
	opacity: 1;
}

.schedule-selector .unselected {
	transition: .25s;
}

.schedule-selector .unselected:hover {
	background-color: rgba(255,255,255,.1);
}

/* .schedule-selector .radio-button {
	padding: 5px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	font-size: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

.schedule-selector .selected {
	color: white;
	opacity: .75;
	transition: 0.25s;
}

.schedule-selector .selected:hover {
	color: white;
	opacity: 1;
}

.schedule-selector .unselected {
	background: white;
	opacity: 0.5;
	transition: 0.25s;
}

.schedule-selector .unselected:hover {
	opacity: 1;
} */