.new-trip {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.new-trip-card {
	width: 600px;
	margin: auto;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
	transition: 0.25s;
}

.new-trip-card .glass-content {
	width: 100%;
}

.new-trip-wrapper {
	display: flex;
	width: 100%;
	transition: 0.25s;
	flex-direction: column;
	justify-content: space-around;
}

.new-trip input {
	color: white;
	padding: 15px;
	margin: 0px;
	width: 600px;
	height: 60px;
	border-radius: 0;
	transition: .25s;
	background: transparent;
}

.new-trip input::placeholder {
	text-transform: uppercase;
	color: white;
	opacity: .75;
}

.new-trip input:focus {
	outline: none;
	opacity: 1;
	background: rgba(255,255,255,.25);
}

/* .location, .budget {
	display: flex;
	justify-content: center;
}

.calendar {
	padding-bottom: 25px;
} */

.new-trip button {
	color: white;
	border: none;
	padding: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.25s;
	opacity: .75;
}

.new-trip button:hover {
	opacity: 1;
}

.new-trip .exit-button {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	color: black;
	background-color: transparent;
	font-size: 20px;
}

.new-trip .exit-button:hover {
	background-color: rgba(0,0,0,.1);
}

.new-trip .done-button {
	width: 100%;
}