.trip-card {
	background: rgba(0, 0, 0, 0.50);
	border-radius: 5px;
	padding: 25px;
	margin: 25px;
	/* border: solid black 2px; */
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
	display: block;
	color: white;
	text-decoration: none;
	cursor: default;
	transition: 0.5s;
}

.trip-card:hover {
	background: rgba(0, 0, 0, 0.75);
}