.trip-card {
	display: flex;
  margin: 25px auto;
  width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
	transition: 0.5s;
	color: black;
	cursor: default;
	transition: 0.15s;
	height: 150px;
}

.trip-card a {
	text-decoration: none;
	color: black;
}

.trip-card:hover {
	padding-left: 20px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.trip-card .glass-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.color-strip {
	position: absolute;
	left: -20px;
	height: 100%;
	width: 20px;
}