@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {box-sizing: border-box}

body {
	font-family: 'Titillium Web', sans-serif;
}

button:focus {outline:0;}

input {
	background: rgba(255,255,255,0.5);
	border: none;
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
}

#app {
	background: #000;
	background-size: cover;
	min-height: 100vh;
	transition: 1s;
}